* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #003366;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  place-items: center;
}

.main-section {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  row-gap: 120px;
}

.main-section header {
  width: 100%;
}

.main-section header img {
  width: 150px;
}

.form-section {
  display: grid;
  place-items: center;
  height: 540px;
  width: 380px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
}

.form-section .login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-section .user-name-container {
  display: flex;
  flex-direction: column;
}

.form-section form label {
  color: #f2f2f2;
  font-weight: bold;
}

.form-section form .account-name {
  width: 240px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 8px;
  font-size: 16px;
  color: #f2f2f2;
  background-color: transparent;
}

.form-section form .user-name:focus {
  outline: none;
}

.form-section form .login-btn {
  width: 120px;
  height: 30px;
  background-color: #1e90ff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #f2f2f2;
  cursor: pointer;
  font-weight: bold;
}

.template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logout-btn {
  height: 30px;
  width: 150px;
  background-color: tomato;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.template-logo {
  width: 150px;
}

table {
  table-layout: fixed;
  width: 33%;
  border-collapse: collapse;
}

thead {
  background-color: #1e90ff;
  color: white;
}

thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(3) {
  width: 33%;
}

tbody td {
  text-align: center;
  background-color: white;
  font-size: 22px;
  font-weight: bold;
}

tbody td:nth-child(1),
tbody td:nth-child(2) {
  border-right: 1px solid black;
}

th,
td {
  padding: 20px;
}

/* table {
  color: white;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 200px;
  border: 1px solid #f2f2f2;
}

thead {
  background-color: #1e90ff;
  height: 50px;
}

tbody {
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

td {
  height: 30px;
} */
